.hero {
  background-image: url('../cover.jpg');
  background-color: rgba(0, 0, 0, 0.60);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 70px 0;
}
